.mcontain{
    display: flex;
    justify-content: center;
    background-color: black;
}
.elcontainer{
    width: 320px;
    background-color: black;
    height:728px;
}
.sc{
    height: 500px;
    z-index: 1;
    overflow: hidden;
}

.searchBar{
    display: flex;
    background: #5E5E5E82 0% 0% no-repeat padding-box;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    margin-left: 10px;
}

.search-input{
    background: #5E5E5E82 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 4px 0px #00000040;
    text-align: center;
    font-size: larger;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 240px;
    height: 45px;
    border-radius: 40px;
}

#searchInput{
    color: white;
}

.searchicon{
    margin-top: 9px;
    width: 40px;
    height: 25px;
}

.employee-list {
    box-sizing: border-box;
    color: white;
    list-style: none;
    margin-top: 5px;
    line-height: 2.6;
    border-radius: 2rem;
    margin-left: 10px;
}


.tc{
    background-color: #8D918D ;
    display: flex;
    margin-top: 20px;
    border-radius: 2rem ;
    background: #38383880 0% 0% no-repeat padding-box;
    z-index: 2;
    
}

.employee-item{
    width: 270px;
    border-radius: 2rem;
    margin-left: -38px;
    padding: 12px;
    margin-top: 15px;
    background: #5E5E5E82 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 4px 0px #00000040;
}
.eid{
    margin-top: 16px;
    margin-left: 15px;
}
.name{
    display: flex;
    height: 50px;
}
.dob{
    display: flex;
    height: 50px;
}
.role{
    display: flex;
    height: 50px;
}
#name{
    margin-left: 16px;
    font-weight: bold;
    
}
#dob{
    color: rgb(230, 140, 5);
    margin-left: 15px;
    margin-top: 15px;
    
}
#role{
    color: green;
    margin-left: 18px;
    margin-top: 15px;
}
#sign1{
    margin-left: 14px;
}
#sign2{
    margin-left: 24px;
}
#sign3{
    margin-left: 26px;
}
.firstrow{
    display: flex;
    height: 50px;
}
.number{
    border: 1px solid rgb(0, 0, 0);
    height: 38px;
    margin-left: 150px;
    border-radius: 30px;
    background-color: #47474782;
}
#number{
    text-align: center;
    width: 34px;
}